/resources/external/
/resources/dataViewer/plots
**/__pycache__/**.*.pyc
/.idea/
resources/**/logs/*.log
**.log
**.h5
resources/**/*.zip
resources/**/*.csv
resources/**/*.txt
resources/**/*.png
resources/**/*.h5.bck
resources/**/*.h5_feature
resources/modelBuilder/unsupervised/checkpoints/
/resources/ui/temp/
.VSCodeCounter/*
**.pkl
**.pk1
**.tfrecord
**.csv
**.joblib
**.keras
!resources/ui/icons/**/*.png
